<div class="card dashboard-card">

    <div class="section-title">

        😊 情緒分析

    </div>

    <div class="chart-container">

        <canvas id="sentimentChart"></canvas>

    </div>

    <ul class="list-group mt-4">

        <li
            class="list-group-item sentiment-item"
            id="positiveItem"
        >

            正向：

            <span id="positiveText">

                0%

            </span>

        </li>

        <li
            class="list-group-item sentiment-item"
            id="neutralItem"
        >

            中性：

            <span id="neutralText">

                0%

            </span>

        </li>

        <li
            class="list-group-item sentiment-item"
            id="negativeItem"
        >

            負向：

            <span id="negativeText">

                0%

            </span>

        </li>

    </ul>

</div>